<script type="text/html" id="tpCmpCrits">
	<div class="pg__it">
		<div class="srn" id="srnMain">
			<div class="srn__mn">
				<div class="pg pg--hz" id="pgSub"></div>
			</div>
			<div class="srn__sd">
				<div class="ctr ctr--sd">
					<div class="ctr__in  txt txt--sd">
						<h2 class="hg hg--sd">Подсказка</h2>
						<p>Оцениваем критерии выбора с точки зрения их важности для вас.</p>
						<p>Из представленной пары выберите наиболее важный для вас критерий и нажмите кнопку <span class="key">Далее</span>.</p>
						<p>Номер текущего шага и их общее количество показаны в нижней части экрана.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>