<script type="text/html" id="tpCmpObjects">
	<?
		var isCrits = $1.isCrits;
	?>
	<div class="pg__it">
		<div class="srn" id="srnMain">
			<div class="srn__mn">
				<div class="pg pg--hz" id="pgSub"></div>
			</div>
			<div class="srn__sd">
				<div class="ctr ctr--sd">
					<div class="ctr__in  txt txt--sd">
						<h2 class="hg hg--sd">Подсказка</h2>
						<p>Оцениваем варианты выбора<? if (isCrits) { ?> по заданным критериям<? } ?>.</p>
						<?= $.template('#tpCmpDesc', 'вариант', 'варианты'); ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>