<script type="text/html" id="tpCmpObjects">
	<div class="pg__it">
		<div class="srn" id="srnMain">
			<div class="srn__mn">
				<div class="pg pg--hz" id="pgSub"></div>
			</div>
			<div class="srn__sd">
				<div class="ctr ctr--sd">
					<div class="ctr__in  txt txt--sd">
						<h2 class="hg hg--sd">Подсказка</h2>
						<p>Оцениваем варианты выбора.</p>
						<p>Из представленной пары выберите наиболее важный для вас вариант и нажмите кнопку <span class="key">Далее</span>.</p>
						<p>Номер текущего шага и их общее количество показаны в нижней части экрана.</p>
						<p>Попробуйте забыть, что существуют другие варианты, кроме показанных вам. Не пытайтесь подогнать ответ к ожидаемому. Задача данного приложения - помочь вам выбрать наиболее подходящий для вас выбор, даже если он окажется неочевидным.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>