<script type="text/html" id="tpCmpDesc">
	<?
		var valueA = $0;
		var valueB = $1;
	?>
	<p>Из представленной пары выберите наиболее важный для вас <?= valueA; ?> и нажмите <span class="key">Ctrl или Shift</span> + <span class="key">Enter</span> или кнопку <span class="key">Далее</span>.</p>
	<p>Также <?= valueB; ?> можно выбирать с помощью стрелок <span class="key">↑</span> / <span class="key">↓</span>.</p>
	<p>Номер текущего шага и их общее количество показаны в нижней части экрана.</p>
	<p>Попробуйте забыть, что существуют другие <?= valueB; ?>, кроме показанных вам. Не пытайтесь подогнать ответ к ожидаемому. Задача этого приложения - помочь найти наиболее подходящее для вас решение, даже если оно окажется неочевидным.</p>
</script>