<script type="text/html" id="ppErrorSubject">
	<div class="pp pp--er">
		<p>Пожалуйста, заполните это поле.</p>
	</div>
</script>
<script type="text/html" id="ppErrorObjectsLength">
	<div class="pp pp--er">
		<p>Введите хотя бы два варианта выбора!</p>
	</div>
</script>
<script type="text/html" id="ppErrorObjectsOne">
	<div class="pp pp--er">
		<p>Кажется, здесь выбор очевиден. Введите как минимум два варианта.</p>
	</div>
</script>
<script type="text/html" id="ppErrorCritsLength">
	<div class="pp pp--er">
		<p>Один критерий выбора - это не серьезно.</p>
	</div>
</script>
<script type="text/html" id="ppErrorCmp">
	<div class="pp pp--er">
		<p>Выберите один из вариантов.</p>
	</div>
</script>