<div class="srn">
	<div class="srn__mn">
		<div class="sdr  js-sdr js-sdr--hz">
			<div class="sdr__in  js-sdr__tk">
				<div class="sdr__it">
					<div class="ctr">
						<div class="ctr__in  tlg">
							<form action="#" class="frm  frm--w-sd" id="frmVars">
								<h1 class="hg hg--pm">Сравниваем критерии.</h1>
								<p>Выберите, что для вас важнее:</p>
								<div class="frm__it">
									<label class="rdo rdo--bk">
										<span class="rdo__tt">Скорость чистого идиотизма в вакууме.</span>
										<input type="radio" name="rdo" class="rdo__pk">
										<span class="rdo__ic"></span>
									</label>
								</div>
								<div class="frm__it">
									<label class="rdo rdo--bk">
										<span class="rdo__tt">Цена</span>
										<input type="radio" name="rdo" class="rdo__pk">
										<span class="rdo__ic"></span>
									</label>
								</div>
								<div class="frm__it  frm__it--btm">
									<button class="btn btn--pl">Назад</button>
									<button type="submit" class="btn btn--wd  ftr">Далее</button>
								</div>
								<div class="frm__sd">
									<p class="tac"><strong>1</strong> из <strong>1024</strong></p>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="sdr__it">
					<div class="ctr">
						<div class="ctr__in  tlg">
							<form action="#" class="frm  frm--w-sd" id="frmVars">
								<h1 class="hg hg--pm">Сравниваем критерии.</h1>
								<p>Выберите, что для вас важнее:</p>
								<div class="frm__it">
									<label class="rdo rdo--bk">
										<span class="rdo__tt">Скорость чистого идиотизма в вакууме.</span>
										<input type="radio" name="rdo" class="rdo__pk">
										<span class="rdo__ic"></span>
									</label>
								</div>
								<div class="frm__it">
									<label class="rdo rdo--bk">
										<span class="rdo__tt">Цена</span>
										<input type="radio" name="rdo" class="rdo__pk">
										<span class="rdo__ic"></span>
									</label>
								</div>
								<div class="frm__it  frm__it--btm">
									<button class="btn btn--pl">Назад</button>
									<button type="submit" class="btn btn--wd  ftr">Далее</button>
								</div>
								<div class="frm__sd">
									<p class="tac"><strong>2</strong> из <strong>1024</strong></p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="srn__sd">
		<div class="ctr ctr--sd">
			<div class="ctr__in"></div>
		</div>
	</div>
</div>