<div class="srn">
	<div class="srn__mn">
		<div class="ctr">
			<div class="ctr__in">
				<h1 class="hg hg--pm">Что мы выбираем?</h1>
				<form action="#" class="frm" id="frmSubject">
					<div class="frm__it">
						<input type="text" name="subject" id="nptSubject" class="npt npt--bk" placeholder="Введите объект выбора" autocomplete="off" required="">
					</div>
					<div class="frm__it frm__it--btm">
						<button type="submit" class="btn btn--wd  ftr">Далее</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="srn__sd">
		<div class="ctr ctr--sd">
			<div class="ctr__in"></div>
		</div>
	</div>
</div>