<div class="srn">
	<div class="srn__mn">
		<div class="ctr">
			<div class="ctr__in">
				<form action="#" class="frm  frm--w-sd" id="frmVars">
					<h1 class="hg hg--pm">Из каких вариантов мы выбираем?</h1>
					<div class="frm__it">
						<label class="npt-gp npt-gp--bk">
							<input type="text" name="nptVar[]" class="npt npt--bk" autocomplete="off" required="" placeholder="Введите вариант" value="Mersedes">
							<span class="npt-gp__in">
								<button class="icn icn--cls"></button>
							</span>
						</label>
					</div>
					<div class="frm__it">
						<label class="npt-gp npt-gp--bk">
							<input type="text" name="nptVar[]" class="npt npt--bk" autocomplete="off" required="" placeholder="Введите вариант" value="Toyota">
							<span class="npt-gp__in">
								<button class="icn icn--cls"></button>
							</span>
						</label>
					</div>
					<div class="frm__it">
						<label class="npt-gp npt-gp--bk">
							<input type="text" name="nptVar[]" class="npt npt--bk" autocomplete="off" required="" placeholder="Введите вариант">
							<span class="npt-gp__in">
								<button class="icn icn--cls"></button>
							</span>
						</label>
					</div>
					<div class="frm__it  frm__it--btm">
						<button class="btn btn--pl">Добавить</button>
						<button type="submit" class="btn btn--wd  ftr">Далее</button>
					</div>
					<div class="frm__sd">
						<p class="tac">Итого: <strong>1024</strong> сравнений.</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="srn__sd">
		<div class="ctr ctr--sd">
			<div class="ctr__in"></div>
		</div>
	</div>
</div>